@import 'tailwindcss';

.instrument-serif-regular {
	font-family: 'Instrument Serif', serif;
	font-weight: 400;
	font-style: normal;
}

.space-mono-regular {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	font-style: normal;
}
