@import 'tailwindcss';

:root {
	--glassy-gray: rgba(75, 75, 75, 0.9);
}

@theme {
	--animate-glowing-white-text: white-glow 8s ease-in-out infinite alternate;

	@keyframes white-glow {
		0%,
		40% {
			text-shadow:
				0 0 0px #ffffff,
				0 0 0px #ffffff,
				0 0 0px #ffffff;
		}
		100% {
			text-shadow:
				0 0 10px #ffffff,
				0 0 25px #ffffff,
				0 0 40px #ffffff;
		}
	}
}

.instrument-serif-regular {
	font-family: 'Instrument Serif', serif;
	font-weight: 400;
	font-style: normal;
}

.instrument-serif-regular-italic {
	font-family: 'Instrument Serif', serif;
	font-weight: 400;
	font-style: italic;
}

.dm-sans-regular {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
