@import 'tailwindcss';

:root {
	--glassy-gray: rgba(100, 100, 100, 0.3);
}

.instrument-serif-regular {
	font-family: 'Instrument Serif', serif;
	font-weight: 400;
	font-style: normal;
}

.dm-sans-regular {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
