@keyframes left-right {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.wind-div {
  z-index: -1;
  position: absolute;
  background: white;
  border-color: lightGray;
  border-width: thin;
  border-style: solid;
  animation-name: left-right;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
